@import "../../styles/variables";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary;
}

.authButtonBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.formField {
  display: flex;
  flex-direction: column;

  input {
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
  }
  label {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0 10px 0;
  }
}

.signButton {
  background-color: $darkGold;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.signText {
  color: white;
  font-size: 1.1rem;
  padding-left: 10px;
}

.signLink {
  color: $darkGold;
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 10px;
  background:none;
  border:none;
  padding-top: 5px;
  cursor: pointer;
}
