@import "../../styles/variables";

.container {
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark;
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;

  .logo {
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 1.5rem;
    margin-right: 5px;
  }

  .logoText {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    margin: 0;
  }
}



